name: Build and deploy image

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: ia-ads-uptime-kuma

jobs:
  push:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Buildx
        run: |
          docker buildx create --use

      - name: Login to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          [ "$VERSION" == "main" ] && VERSION=latest
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          docker buildx build . --platform linux/arm64,linux/amd64 --label "runnumber=${GITHUB_RUN_ID}" -t $IMAGE_NAME -t $IMAGE_ID:$VERSION --output type=image,name=$IMAGE_ID:$VERSION,push=true
